{% extends 'base.html' %}
<html>
    <body>
        {% block content %}
            <h1>Check out our cupcakes!</h1>

            <div class="container-fluid">
                <div class="row">

                    {% for cake in cakes %}
                    <div class="col-4">
                        
                        <div class="card my-2">
                            <div class="card-body">
                                <h5 class="card-title">{{cake.flavor}}</h5>
                                <h6 class="card-subtitle text-muted">Rating: {{cake.rating}}</h6>
                                <h6 class="card-subtitle text-muted my-2">Size: {{cake.size}}</h6>
                                <img class="card-img-top" src="{{cake.image}}" alt="">
                                <form style="display:inline" action="/delete/{{cake.id}}" method="POST">
                                    <button class="btn btn-sm btn-danger">DELETE CAKE</button>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>



        {% endblock content%}
    </body>
</html>